.navbar-link {
        color: #1F2937; /* text-gray-900 */
        transition: color 0.3s;
    }
    
    .navbar-link:hover {
        color: #3CA6A6; /* hover:text-[#3CA6A6] */
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .navbar-link-group {
    display: flex;
    flex-direction: row; /* Adjust to column if needed */
    gap: 1.5rem; /* Adjust the gap value as needed */
  }